@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Special+Elite&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --light-color: #f2e9e1;
  --medium-color: #3e3e3c;
  --dark-color: #2d2d2d;
  --accent-color: #c4572f;
  --secondary-color: #c49a3d;
  --transparent-color: #000;

  --global-padding: 350px;
}

.wrapper {
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}

h1 {
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--accent-color);
  padding: 10px;
  border: none;
  color: var(--dark-color);
}

.secondary-button {
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--dark-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  padding-left: 0px;
  display: flex;
  justify-content: start;
}

.ul-nav {
  display: flex;
  padding: 0px;
}

.li-nav {
  padding-left: 20px;
  list-style-type: none;
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}

.section-intro {
  display: flex;
  align-items: center;
  background-color: var(--medium-color);
}

.intro-image {
  height: 400px;
  width: 500px;
  background-color: var(--accent-color);
}

.projects-image {
  height: 400px;
  width: 500px;
  background-color: var(--accent-color);
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content {
  display: flex;
  align-items: center;
}

.projects-header {
  justify-content: center;
  align-items: center;
}

.section-footer {
  display: flex;
  justify-content: center;
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  :root {
    --global-padding: 48px;
  }
}

.my-projects h1 {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body {
  color: var(--light-color);
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

::selection {
  color: var(--dark-color);
  background: var(--light-color);
}

.contact {
  gap: 1rem;
}

.contact h1 {
  font-size: 1.9rem;
}

.contact-btn {
  height: 2.5rem;
}

.accordion-body ::selection {
  color: var(--light-color);
  background: var(--dark-color);
}

.subheader-lg {
  font-size: 1.5rem;
}

.subheader-sm {
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .subheader-sm {
    font-size: 0.8rem;
  }
  :root {
    --global-padding: 16px;
  }
  .section-intro {
    flex-direction: column-reverse;
  }
  .projects-content {
    flex-direction: column;
  }
}

.accordion-button:not(.collapse) {
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
}

.accordion-button:not(.collapse)::after {
  filter: brightness(0%) invert(0);
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:hover {
  background-color: var(--light-color) !important;
}

.accordion-collapse {
  background-color: var(--light-color);
}

.accordion-item-sm {
  margin-top: 4rem;
  color: var(--dark-color);
}

.btn-primary {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 0.01rem solid var(--light-color);
}

.btn-primary:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 0.01rem solid var(--light-color);
}

.btn-about:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 0.01rem solid var(--dark-color);
}

.project-card {
  background-color: var(--light-color);
  height: 20rem;
  gap: 1rem;
  overflow: hidden;
}

.img-project-1 {
  transform: translateX(-30%) translateY(-10%) scale(0.8);
}

.img-project-2 {
  transform: translateX(-20%) translateY(-19%) scale(0.8);
}

.img-project-1,
.img-project-2 {
  mix-blend-mode: multiply;
}

.project-title {
  background-color: var(--light-color);
  height: auto;
  gap: 1rem;
}

.project-title h2 {
  color: var(--dark-color);
}

.projects-row {
  gap: 1rem;
}

.projects-row-title {
  gap: 1rem;
}
